#!/bin/bash

APP_DIR="/var/www/html/batipilot"
USER="${APP_USER}"        # récupéré depuis GitHub Secrets
WEB_USER="${WEB_USER}"    # récupéré depuis GitHub Secrets
ENV="prod"

cd "$APP_DIR" || exit 1

# Git
git fetch origin
git reset --hard origin/main
git pull origin main

# Composer
composer install --no-dev --optimize-autoloader

# Cache et logs
rm -rf var/cache/* var/log/*

# Symfony (exécuté avec l'utilisateur web)
sudo -u $WEB_USER php bin/console cache:clear --env=$ENV
sudo -u $WEB_USER php bin/console assets:install public
sudo -u $WEB_USER php bin/console importmap:install

echo "✅ Déploiement terminé !"
