name: Déploiement Symfony

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Déployer sur le serveur
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          port: ${{ secrets.SERVER_PORT }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/html/batipilot || exit

            echo "Pull latest code"
            git pull origin main

            echo "Install dependencies"
            composer install --no-dev --optimize-autoloader

            echo "Clear & warmup prod cache"
            php bin/console cache:clear --env=prod
            php bin/console cache:warmup --env=prod

            echo "Fix permissions"
            chown -R www-data:www-data /var/www/html/batipilot
            chmod -R 775 var public

            echo "Deploy finished"
